.container {
    width: max-content;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
    background-color: aqua; 
}

.list-container {
    font-size: 22px;
    text-decoration: underline;
}

